<div *ngIf="dataLoaded==false" class="spinner-grow" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText" class="alert alert-primary">
  {{filterText}} aradınız
</div>

<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Araç Adı</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyatı</th>
    </tr>
  </thead>
  <tr *ngFor="let car of carDetailDtos">
    <td>{{ car.id }}</td>
    <td>{{ car.carName | uppercase}}</td>
    <td>{{ car.brandName | uppercase}}</td>
    <td>{{ car.colorName | uppercase}}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice | currency}}</td>
  </tr>
</table>
